* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

button {
  text-align: center;
}

button:hover {
  color: black;
  border: none;
  cursor: pointer;
  box-shadow: 0px 0px 5px black;
}

input::-moz-placeholder {
  color: black;
  text-align: center;
  font-size: 17px;
}

input:-ms-input-placeholder {
  color: black;
  text-align: center;
  font-size: 17px;
}

input::placeholder {
  color: black;
  text-align: center;
  font-size: 17px;
}

.navbar-top {
  background: #EABF9F;
}
.navbar-top .container .navbar-top__list {
  margin-left: 807px;
  margin-right: 120px;
  display: flex;
  justify-content: space-between;
}
.navbar-top .container .navbar-top__list .navbar-top__list-item {
  padding-top: 19px;
  margin-bottom: 19px;
  list-style-type: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
.navbar-top .container .navbar-top__list .navbar-top__list-item a {
  text-decoration: none;
  color: #01384D;
}

.navbar {
  background-color: #EABF9F;
  display: flex;
  align-items: center;
  padding-bottom: 16px;
}
.navbar .navbar__hamburg {
  display: none;
}
.navbar .navbar__logo {
  margin-left: 170px;
  max-width: 160px;
  height: 37.25px;
}
.navbar .navbar__phone {
  margin-left: 600px;
}
.navbar .navbar__phone a {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #01384D;
  text-decoration: none;
}
.navbar .navbar__btn {
  background: #FFFFFF;
  width: 130px;
  margin-left: 38px;
  height: 36px;
  /* title color */
  border: 2px solid #01384D;
  border-radius: 5px;
}

.hero {
  background-color: #EABF9F;
  background-image: url(../../img/mainbg1.png), url(../../img/mainbg.png);
  background-repeat: no-repeat;
  height: 529px;
  background-size: 250px, 655px;
  background-position: left 250px bottom 68px, right 120px bottom 5px;
  padding-top: 30px;
}
.hero .hero__title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 90px;
  line-height: 105px;
  max-width: 735px;
  height: 210px;
  margin-left: 120px;
  /* title color */
  color: #01384D;
}
.hero .hero__btn {
  background: #FFFFFF;
  margin-left: 125px;
  border: 2px solid #01384D;
  border-radius: 5px;
  font-size: 20px;
  margin-top: 50px;
  padding: 8px 12px;
}

.info .container {
  padding: 50px;
}
.info .container .info__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.info .container .info__list .info__list-item {
  list-style-type: none;
  text-align: center;
}
.info .container .info__list .info__list-item h2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 120px;
  line-height: 141px;
}
.info .container .info__list .info__list-item p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}

.mahsulotlar {
  padding-bottom: 60px;
}
.mahsulotlar h2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  text-align: center;
}
.mahsulotlar ul {
  display: flex;
  justify-content: space-around;
  padding: 0 200px;
  border-bottom: 1px solid #01384D;
  padding-bottom: 10px;
  margin-bottom: 50px;
}
.mahsulotlar ul #list__next {
  display: none;
}
.mahsulotlar ul #model1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}
.mahsulotlar ul li {
  list-style: none;
  margin-top: 77px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #01384D;
}
.mahsulotlar ul li a {
  text-decoration: none;
}
.mahsulotlar .container {
  background: #F6FBFF;
  display: flex;
  border: 1px solid #C7DFF5;
  width: 75%;
  height: auto;
  margin: 50px auto;
}
.mahsulotlar .container .matras {
  width: 45%;
  height: auto;
  position: relative;
}
.mahsulotlar .container .matras button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 30px;
  gap: 10px;
  position: absolute;
  width: 184px;
  height: 36px;
  left: 30px;
  top: 20px;
  /* red */
  background: #FF6B6B;
  border-radius: 5px;
}
.mahsulotlar .container .matras img {
  position: absolute;
  left: 3.12%;
  right: 60.62%;
  top: 120px;
  bottom: 26.54%;
  width: 90%;
}
.mahsulotlar .matras__info {
  position: relative;
  width: 55%;
  padding: 0 50px;
}
.mahsulotlar .matras__info h2 {
  margin-bottom: 0;
  padding: 0;
  margin-top: 30px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  /* identical to box height */
  /* title color */
  color: #01384D;
}
.mahsulotlar .matras__info .mahsulotlar__list {
  border: none;
  display: flex;
  padding: 0;
  margin-bottom: 0;
  justify-content: space-around;
}
.mahsulotlar .matras__info .mahsulotlar__list li {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0 0;
}
.mahsulotlar .matras__info .mahsulotlar__list li p {
  padding: 0;
  text-align: center;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #01384D;
  opacity: 0.6;
}
.mahsulotlar .matras__info .list__text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  opacity: 0.6;
}
.mahsulotlar .matras__info .sena {
  margin-top: 10px;
  opacity: 0.6;
}
.mahsulotlar .matras__info h4 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #01384D;
}
.mahsulotlar .matras__info h4 span {
  font-weight: 700;
  font-size: 11px;
}
.mahsulotlar .matras__info button {
  background: #FFFFFF;
  /* title color */
  border: 2px solid #01384D;
  border-radius: 5px;
  padding: 9px 16px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.mobile__card img {
  display: none;
}

.working h2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  /* identical to box height */
  text-align: center;
  /* title color */
  color: #01384D;
  text-align: center;
}
.working .working__list {
  padding: 85px 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.working .working__list img {
  width: 330px;
}

.boglanish {
  height: 200px;
  background-color: #EABF9F;
  padding-top: 60px;
}
.boglanish h2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  display: inline;
  margin-left: 200px;
  /* title color */
  color: #01384D;
}
.boglanish p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  margin-left: 200px;
  color: #01384D;
  display: inline;
}
.boglanish input {
  width: 370px;
  height: 50px;
  border-radius: 2px;
  border: 3px solid #01384D;
  margin-left: 120px;
}
.boglanish button {
  height: 50px;
  border-radius: 2px;
  border: 3px solid #01384D;
  width: 90px;
}

.footer {
  padding: 20px;
  background-color: #01384D;
}
.footer ul {
  display: flex;
  margin-right: 550px;
  justify-content: space-around;
}
.footer ul li {
  list-style-type: none;
}
.footer ul li a {
  text-decoration: none;
  color: white;
}
.footer ul li :hover {
  color: #111111;
}
.footer ul #weeb a {
  color: #FF6B6B;
}
.footer ul #weeb span {
  color: black;
}

@media (max-width: 600px) {
  .navbar-top {
    display: none;
  }
  .navbar {
    margin: 0;
    padding: 10px;
    height: 60px;
  }
  .navbar .navbar__hamburg {
    display: block;
    position: absolute;
    right: 15px;
  }
  .navbar .navbar__logo {
    margin-left: 17px;
    margin-bottom: 17px;
    margin-top: 0;
    max-width: 90px;
    height: 17.25px;
  }
  .navbar .navbar__phone {
    display: none;
  }
  .navbar .navbar__btn {
    display: none;
  }
  .hero {
    background-color: #EABF9F;
    background-image: url(../../img/mainbg1.png), url(../../img/mainbg.png);
    background-repeat: no-repeat;
    height: 600px;
    background-size: 250px, 359px;
    background-position: center bottom 60px, center;
    padding-top: 30px;
  }
  .hero .hero__title {
    width: 320px;
    height: 110px;
    font-family: "Abril Fatface";
    font-style: normal;
    font-weight: 600;
    margin-left: 20px;
    font-size: 41px;
    line-height: 55px;
    /* title color */
    color: #01384D;
  }
  .hero .hero__btn {
    background: #FFFFFF;
    margin-left: 20px;
    font-size: 20px;
    border: 2px solid #01384D;
    border-radius: 5px;
    margin-top: 285px;
    padding: 8px 20px;
  }
  .info .container {
    padding: 50px;
  }
  .info .container .info__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .info .container .info__list .info__list-item {
    list-style-type: none;
    text-align: center;
    padding: 30px 7px;
  }
  .info .container .info__list .info__list-item h2 {
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
  }
  .info .container .info__list .info__list-item p {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
  }
  .mahsulotlar {
    padding-bottom: 10px;
  }
  .mahsulotlar h2 {
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 28px;
  }
  .mahsulotlar ul {
    padding: 0 40px;
    border: none;
    display: flex;
    width: auto;
    height: auto;
    margin: 0 auto;
    justify-content: space-between;
  }
  .mahsulotlar ul li #model1 {
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    /* title color */
    color: #01384D;
  }
  .mahsulotlar ul li #list__next {
    display: block;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-style: bold;
    font-weight: 600;
    font-size: 20px;
    line-height: 16px;
    text-align: center;
  }
  .mahsulotlar ul li #list__next a {
    font-style: bold;
    color: #7a8ea0;
  }
  .mahsulotlar ul li #list__none {
    display: none;
  }
  .mahsulotlar ul li li {
    font-size: 16px;
  }
  .mahsulotlar .container {
    display: none;
  }
  .mobile__card img {
    display: block;
    margin-top: 20px;
    width: 100%;
  }
  .working h2 {
    font-size: 25px;
    margin-top: 30px;
  }
  .working .working__list {
    padding: 0;
  }
  .boglanish {
    height: 200px;
    background-color: #EABF9F;
    padding-top: 0px;
    padding-top: 30px;
  }
  .boglanish h2 {
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    margin-left: 20px;
  }
  .boglanish p {
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 23px;
    /* identical to box height, or 209% */
    /* title color */
    color: #01384D;
    margin-left: 20px;
  }
  .boglanish input {
    width: 300px;
    height: 40px;
    border-radius: 2px;
    border: 3px solid #01384D;
    margin-left: 30px;
    margin-top: 20px;
  }
  .boglanish button {
    width: 300px;
    height: 40px;
    border-radius: 2px;
    border: 3px solid #01384D;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .footer ul {
    margin-right: 0;
    font-size: 10px;
  }
}/*# sourceMappingURL=main.css.map */