@media(max-width:600px) {
    .navbar-top {
        display: none;
    }

    .navbar {
        margin: 0;
        padding: 10px;
        height: 60px;

        .navbar__hamburg {
            display: block;
            position: absolute;
            right: 15px;
        }

        .navbar__logo {
            margin-left: 17px;
            margin-bottom: 17px;
            margin-top: 0;
            max-width: 90px;
            height: 17.25px;
        }

        .navbar__phone {
            display: none;


        }

        .navbar__btn {
            display: none;
        }
    }

    .hero {
        background-color: $color;
        background-image: url(../../img/mainbg1.png), url(../../img/mainbg.png);
        background-repeat: no-repeat;
        height: 600px;
        background-size: 250px, 359px;
        background-position: center bottom 60px, center;
        padding-top: 30px;

        .hero__title {
            width: 320px;
            height: 110px;
            font-family: 'Abril Fatface';
            font-style: normal;
            font-weight: 600;
            margin-left: 20px;
            font-size: 41px;
            line-height: 55px;

            /* title color */

            color: #01384D;
        }

        .hero__btn {
            background: #FFFFFF;
            margin-left: 20px;
            font-size: 20px;
            border: 2px solid #01384D;
            border-radius: 5px;
            margin-top: 285px;
            padding: 8px 20px;
        }

    }

    .info {
        .container {
            padding: 50px;

            .info__list {
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;

                .info__list-item {
                    list-style-type: none;
                    text-align: center;
                    padding: 30px 7px;

                    h2 {
                        font-family: 'Josefin Sans';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 50px;
                        line-height: 50px;
                    }

                    p {
                        font-family: 'Raleway';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 23px;
                    }
                }
            }
        }
    }

    .mahsulotlar {
        padding-bottom: 10px;

        h2 {
            font-family: 'Josefin Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 28px;
            line-height: 28px;
        }

        ul {
            padding: 0 40px;
            border: none;
            display: flex;
            width: auto;
            height: auto;
            margin: 0 auto;
            justify-content: space-between;

            li {
                #model1 {
                    font-family: 'Josefin Sans';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 16px;
                    text-align: center;

                    /* title color */

                    color: #01384D;
                }

                #list__next {
                    display: block;
                    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                    font-style: bold;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 16px;
                    text-align: center;

                    a {
                        font-style: bold;
                        color: #7a8ea0;

                    }
                }

                #list__none {
                    display: none;
                }

                li {
                    font-size: 16px;
                }
            }
        }

        .container {
            display: none;
        }
    }

    .mobile__card {
        img {
            display: block;
            margin-top: 20px;
            width: 100%;
        }
    }

    .working {
        h2 {
            font-size: 25px;
            margin-top: 30px;
        }

        .working__list {
            padding: 0;
        }
    }

    .boglanish {
        height: 200px;
        background-color: #EABF9F;
        padding-top: 0px;
        padding-top: 30px;


        h2 {

            font-family: 'Josefin Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 24px;
            ;
            margin-left: 20px;
        }

        p {

            font-family: 'Josefin Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 11px;
            line-height: 23px;
            /* identical to box height, or 209% */


            /* title color */

            color: #01384D;
            margin-left: 20px;
        }

        input {
            width: 300px;
            height: 40px;
            border-radius: 2px;
            border: 3px solid #01384D;
            margin-left: 30px;
            margin-top: 20px;
        }

        button {
            width: 300px;
            height: 40px;
            border-radius: 2px;
            border: 3px solid #01384D;
            margin-left: 30px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
    .footer{
        ul{
            margin-right: 0;
            font-size: 10px;
        }
    }

}