.navbar-top {
    background: #EABF9F;

    .container {
        
        .navbar-top__list {
            margin-left: 807px;
            margin-right: 120px;
            display: flex;
            justify-content: space-between;

            .navbar-top__list-item {
                padding-top: 19px;
                margin-bottom: 19px;
                list-style-type: none;
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 16px;

                a {
                    text-decoration: none;
                    color: #01384D;
                }
            }
        }
    }
}

.navbar {
    background-color: $color;
    display: flex;
    align-items: center;
    padding-bottom: 16px;

    .navbar__hamburg {
        display: none;
    }

    .navbar__logo {
        margin-left: 170px;
        width: 50%;
        height: 57.25px;
    }

    .navbar__phone {
        margin-left: 90px;

        a {
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            color: #01384D;
            text-decoration: none;
        }
    }

    .navbar__btn {
        background: #FFFFFF;
        width: 130px;
        margin-left: 38px;
        height: 36px;
        /* title color */

        border: 2px solid #01384D;
        border-radius: 5px;
    }
}

.hero {
    background-color: $color;
    background-image: url(../../img/mainbg1.png), url(../../img/mainbg.png);
    background-repeat: no-repeat;
    height: 529px;
    background-size: 250px, 655px;
    background-position: left 250px bottom 68px, right 120px bottom 5px;
    padding-top: 30px;

    .hero__title {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 800;
        font-size: 90px;
        line-height: 105px;
        max-width: 735px;
        height: 210px;
        margin-left: 120px;

        /* title color */

        color: #01384D;
    }

    .hero__btn {
        background: #FFFFFF;
        margin-left: 125px;
        border: 2px solid #01384D;
        border-radius: 5px;
        font-size: 20px;
        margin-top: 50px;
        padding: 8px 12px;
    }

}

.info {
    .container {
        padding: 50px;

        .info__list {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;

            .info__list-item {
                list-style-type: none;
                text-align: center;

                h2 {
                    font-family: 'Raleway';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 120px;
                    line-height: 141px;
                }

                p {
                    font-family: 'Raleway';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 23px;
                }
            }
        }
    }
}

.mahsulotlar {
    padding-bottom: 60px;

    h2 {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 59px;
        text-align: center;
    }

    ul {
        display: flex;
        justify-content: space-around;
        padding: 0 200px;
        border-bottom: 1px solid #01384D;
        padding-bottom: 10px;
        margin-bottom: 50px;

        #list__next {
            display: none;
        }

        #model1 {
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
        }

        li {
            list-style: none;
            margin-top: 77px;
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #01384D;

            a {
                text-decoration: none;
            }
        }
    }

    .container {
        background: #F6FBFF;
        display: flex;
        border: 1px solid #C7DFF5;
        width: 75%;
        height: auto;
        margin: 50px auto;


        .matras {
            width: 45%;
            height: auto;
            position: relative;

            button {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                padding: 10px 30px;
                gap: 10px;

                position: absolute;
                width: 184px;
                height: 36px;
                left: 30px;
                top: 20px;

                /* red */

                background: #FF6B6B;
                border-radius: 5px;
            }

            img {
               margin-top: 150px;
               margin-left: 30px; 
                width: 90%;
            }
        }
    }

    .matras__info {
        position: relative;
        width: 55%;
        padding: 0 50px;

        h2 {
            margin-bottom: 0;
            padding: 0;
            margin-top: 30px;
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 47px;
            /* identical to box height */


            /* title color */

            color: #01384D;
        }

        .mahsulotlar__list {
            border: none;

            display: flex;
            padding: 0;
            margin-bottom: 0;
            justify-content: space-around;

            li {
                margin-top: 20px;
                margin-bottom: 20px;
                padding: 0 0;

                p {


                    padding: 0;
                    text-align: center;
                    font-family: 'Raleway';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;

                    color: #01384D;

                    opacity: 0.6;
                }
            }


        }

        .list__text {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 26px;
            opacity: 0.6;
        }

        .sena {
            margin-top: 10px;
            opacity: 0.6;
        }

        h4 {
            font-family: Georgia, 'Times New Roman', Times, serif;
            color: #01384D;

            span {
                font-weight: 700;
                font-size: 11px;
            }
        }

        button {
            background: #FFFFFF;
            /* title color */

            border: 2px solid #01384D;
            border-radius: 5px;
            padding: 9px 16px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }

}

.mobile__card {
    img {
        display: none;
    }
}

.working {
    h2 {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 59px;
        /* identical to box height */

        text-align: center;

        /* title color */

        color: #01384D;
        text-align: center;
    }

    .working__list {
        padding: 85px 70px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        img {
            width: 330px;
        }

    }
}

.boglanish {
    height: 200px;
    background-color: #EABF9F;
    padding-top: 60px;

    h2 {

        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        display: inline;
        margin-left: 200px;
        /* title color */

        color: #01384D;
    }

    p {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 23px;
        margin-left: 200px;
        color: #01384D;
        display: inline;
    }

    input {
        width: 370px;
        height: 50px;
        border-radius: 2px;
        border: 3px solid #01384D;
        margin-left: 120px;
        font-size: 20px;
        padding-left: 20px;

    }

    button {
        height: 50px;
        border-radius: 2px;
        border: 3px solid #01384D;
        width: 90px;
    }
}

.footer {
    padding: 20px;
    background-color: #01384D;

    ul {
        display: flex;
        margin-right: 550px;
        justify-content: space-around;

        li {
            list-style-type: none;

            a {
                text-decoration: none;
                color: white;
            }
        }

        li :hover {
            color: #111111;
        }

        #weeb {
            a {
                color: #FF6B6B;

            }

            span {
                color: black;
            }
        }
    }
}